html, .min-100{
  min-height: 100vh;
}

body{
  font-family: "Handjet", sans-serif !important; 
  background: rgb(38,66,90);
  background: linear-gradient(25deg, rgba(38,66,90,1) 0%, rgba(225,203,215,0.8267682072829132) 71%);
  color: #26425a !important;
}

.font-7em{
  font-size: 7em !important;
}

.cl-white{
  color: white;
}

.mx-20em{
  margin-left: 20em !important;
  margin-right: 20em !important;
}

.bg-trans{
  background-color: transparent !important;
}

/* .mt-8{
  margin-top: 8em !important;
} */